$main-background: #d2e9b8;
$nav-background: #d2e9b8;
$main-accent-color: #118B50;
$super-accent-color: #096137;

$font-stack: 'Montserrat', sans-serif;

$transition-time: 0.5s;

$breakpoints: (
    small: 680px,
    medium: 850px,
    large: 1200px
)