h1 {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

p.cytat {
    text-indent: 0;
    font-size: 16px;
}

/* @media screen and (min-width: 768px) {
    section {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row-reverse;
        /* flex-wrap: nowrap; 
    }
} */
