@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');

:root {
    --white: #FBF6E9;
    --light-green: #E3F0AF;
    --middle-green: #5DB996;
    --dark-green: #118B50;
}


* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif; /* Apply Montserrat globally */
}

a {
    text-decoration: none;
    color: var(--dark-green);
}

nav {
    background-color: var(--white);
    padding: 1rem;
    position: sticky;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

nav li {
    /* display: inline-block; */
    list-style: none;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}

nav li a {
    /* color: var(--dark-green); */
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 1.1rem;
}

 
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;

}

.images, .text {
    width: 48%; /* Each takes about half the space */
}

.section {
    display: flex;
    flex-wrap: wrap; /* Ensures responsiveness */
    justify-content: space-between;
}

.images, .text {
    width: 48%; /* Each takes about half the space */
}

/* Ensure images scale properly */
.images img {
    width: 100%; /* Makes images responsive */
    display: block; /* Removes bottom spacing */
    margin-bottom: 10px;
}

/* img#joel_in_jerusalem {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
} */

@media screen and (min-width: 768px) {
    img.joel-in-jerusalem {
        object-fit: contain;
        height: auto;
    }
}

@media screen and (min-width: 768px) {

    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-links {
        margin-top: 0;
        display: flex;
        gap: 1.5rem;
    }

    #nav-links li {
        margin: 0;
    }
}