* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


button, label {
    background-color: #42a9d8;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

canvas {
    background-color: aqua;
    padding: 1rem;
}

#gameContainer {
    display: flex;
    padding: 2rem;
}

#options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* padding: 1rem; */
}

#gameOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; /* ⬅️ This adds space between all form elements automatically */
}

h1 {
    color: #42a9d8;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #gameContainer {
        flex-direction: column;
        align-items: center;
    }
    #options {
        margin: 0;
    }
    canvas {

    }
    
}